In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt
xrange = range
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import os

#pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_columns', 200)

print("The working directory was: {0}".format(os.getcwd()))
os.chdir("C:/hjBoralex/etl/gitcwd")
print("The current working directory is: {0}".format(os.getcwd()))

The working directory was: C:\hjBoralex\etl
The current working directory is: C:\hjBoralex\etl\gitcwd

In [13]:
mypath = "C:/Users/hermann.ngayap/Desktop/data/"
marketpath = "C:/Users/hermann.ngayap/Desktop/data/market/markets/"

In [39]:
prod = pd.read_excel(marketpath + "template_prod_id.xlsx", sheet_name="prod")
prod_perc = pd.read_excel(marketpath + "template_prod_id.xlsx", sheet_name="prod_perc")
mean_perc = pd.read_excel(marketpath + "template_prod_id.xlsx", sheet_name="mean_perc")


df_asset = pd.read_excel(marketpath + "asset.xlsx")
df_asset = df_asset.loc[df_asset["en_planif"] == "Non"]

df_planif = pd.read_excel(marketpath + "asset.xlsx")
df_planif = df_planif.loc[df_planif["en_planif"] == "Oui"]

df_hedge = pd.read_excel(marketpath + "template_hedge.xlsx")
df_hedge_vmr = df_hedge.loc[df_hedge["en_planif"] == "Non"]
df_hedge_planif = df_hedge.loc[df_hedge["en_planif"] == "Oui"]

# HEDGE VMR

In [40]:
df_OA = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement"]]
df_OA = df_OA.loc[df_OA["type_hedge"] == "OA"]
print(df_OA.shape)

#To extract cod date from asset template 
df_CR = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement"]]
df_CR = df_CR.loc[(df_CR["type_hedge"] != "OA") & (df_CR["type_hedge"] != "PPA")]
print(df_CR.shape)

df_PPA = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement"]]
df_PPA = df_PPA.loc[df_PPA["type_hedge"] == "PPA"]
print(df_PPA.shape)

(68, 5)
(21, 5)
(7, 5)

## HEDGE OA

In [16]:
#To extract cod date from hedge date with hedge type = OA 
df_OA = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement", "pct_couverture"]]
df_OA = df_OA.loc[df_OA["type_hedge"] == "OA"]
#To merge cod data and prod data
df_OA = df_OA.merge(prod, on='projet_id')
#Hedge perct
df_OA["p50"] = df_OA["p50"] * df_OA["pct_couverture"]
df_OA["p90"] = df_OA["p90"] * df_OA["pct_couverture"]

#To determine the number of asset under OA
n_OA = len(df_OA.loc[df_OA["type_hedge"] == "OA"])

#rename prod label with projet_id
prod_perc = prod_perc.rename(columns=prod.set_index('projet')['projet_id'])

#To define a dict containing prod percentage  
d_prod_perc = prod_perc.to_dict()

start_date = pd.to_datetime(["01-01-2022"] * n_OA)
d = pd.DataFrame()
for i in range(0,84):
    df_buffer = df_OA 
    df_buffer["date"] = start_date
    l_p50 = []
    l_p90 = []
    for elm in df_buffer.projet_id:
        try: 
            l_p50.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
        except:
            l_p50.append("NA")
        try:
            l_p90.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
        except:
            l_p90.append("NA")
    df_buffer["p50_adj"] = l_p50
    df_buffer["p90_adj"] = l_p90
    d = pd.concat([d, df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)
    
#To convert date
d["date_debut"] = pd.to_datetime(d["date_debut"])
d["date"] = pd.to_datetime(d["date"])
d["date_fin"] = pd.to_datetime(d["date_fin"])
d["date_dementelement"] = pd.to_datetime(d["date_dementelement"])

d['année'] = d['date'].dt.year
d['mois'] = d['date'].dt.month
d = d[['projet_id', 'projet', 'date_debut', 'date', 'date_fin', "date_dementelement", 'année', 'mois', 'p50_adj', 'p90_adj']]


#To remove p50 p90 based on date_cod
#Condition:date column is less (in total seconds) than first date for each projet_id's first cod value
cond=((d['date'] - d.groupby('projet_id')['date_debut'].transform('first')).dt.total_seconds())<0
d['p50_adj'] = np.where(cond,'', d['p50_adj'])
d['p90_adj'] = np.where(cond,'', d['p90_adj'])
#To remove p50 p90 based on date_fin
cond_2=((d['date'] - d.groupby('projet_id')['date_fin'].transform('first')).dt.total_seconds())>0
d['p50_adj'] = np.where(cond_2, '', d['p50_adj'])
d['p90_adj'] = np.where(cond_2, '', d['p90_adj'])
#To remove p50 p90 based on date_merchant
# cond_3=((d['date'] - d.groupby('projet_id')['date_merchant'].transform('first')).dt.total_seconds())>0
# d['p50_adj'] = np.where(cond_3, '', d['p50_adj'])
# d['p90_adj'] = np.where(cond_3, '', d['p90_adj'])

#To reset index
d.reset_index(inplace=True, drop=True)

d = d.assign(ID=[1 + i for i in xrange(len(d))])[['ID'] + d.columns.tolist()]
d = d[['ID', 'projet_id', 'projet', 'année', 'mois', 'p50_adj', 'p90_adj']]
#To export results as a data frame
d.to_excel(marketpath + 'hedge_OA.xlsx', index=False)

In [18]:
print(df_OA.loc[df_OA['projet_id'] == 'MERE'])
df_temp = d.loc[d['projet_id'] == 'MERE']
df_temp.head(10)

   projet_id type_hedge date_debut   date_fin date_dementelement  \
35      MERE         OA 2013-12-02 2022-06-30         2022-06-30

    pct_couverture                               projet          p50  \
35             1.0  Ménétréols Renardiére (La vallée 2)  38492.04365

           p90       date      p50_adj      p90_adj
35  35732.5548 2028-12-01 -4591.330967 -4262.179137

,ID,projet_id,projet,année,mois,p50_adj,p90_adj
35,36,MERE,Ménétréols Renardiére (La vallée 2),2022,1,-4503.569107050001,-4180.7089116
103,104,MERE,Ménétréols Renardiére (La vallée 2),2022,2,-3842.6607175795,-3567.180945684
171,172,MERE,Ménétréols Renardiére (La vallée 2),2022,3,-3752.974255875,-3483.924093
239,240,MERE,Ménétréols Renardiére (La vallée 2),2022,4,-3257.196733663,-3023.688787176
307,308,MERE,Ménétréols Renardiére (La vallée 2),2022,5,-2728.7009743484996,-2533.0808097719996
375,376,MERE,Ménétréols Renardiére (La vallée 2),2022,6,-2175.1853866614997,-2019.2466717479997
443,444,MERE,Ménétréols Renardiére (La vallée 2),2022,7,,
511,512,MERE,Ménétréols Renardiére (La vallée 2),2022,8,,
579,580,MERE,Ménétréols Renardiére (La vallée 2),2022,9,,
647,648,MERE,Ménétréols Renardiére (La vallée 2),2022,10,,

## HEDGE CR

In [21]:
#To extract cod date from hedge date with hedge type = CR
df_CR = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement", "pct_couverture"]]
df_CR = df_CR.loc[(df_CR["type_hedge"] != "OA") & (df_CR["type_hedge"] != "PPA")]
#To merge cod data and prod data
df_CR = df_CR.merge(prod, on='projet_id')
#hedge percentage
df_CR["p50"] = df_CR["p50"] * df_CR["pct_couverture"]
df_CR["p90"] = df_CR["p90"] * df_CR["pct_couverture"]

#To determine the number of asset under CR
n_CR = len(df_CR.loc[(df_CR["type_hedge"] != "OA") & (df_CR["type_hedge"] != "PPA")])

#rename prod label with projet_id
prod_perc = prod_perc.rename(columns=prod.set_index('projet')['projet_id'])

#To define a dict containing prod percentage  
d_prod_perc = prod_perc.to_dict()

start_date = pd.to_datetime(["01-01-2022"] * n_CR)
d2 = pd.DataFrame()
for i in range(0,84):
    df_buffer = df_CR 
    df_buffer["date"] = start_date
    l_p50 = []
    l_p90 = []
    for elm in df_buffer.projet_id:
        try: 
            l_p50.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
        except:
            l_p50.append("NA")
        try:
            l_p90.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
        except:
            l_p90.append("NA")
    df_buffer["p50_adj"] = l_p50
    df_buffer["p90_adj"] = l_p90
    d2 = pd.concat([d2, df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)
    
#To create new columns
d2["date_debut"] = pd.to_datetime(d2["date_debut"])
d2["date"] = pd.to_datetime(d2["date"])
d2["date_fin"] = pd.to_datetime(d2["date_fin"])
d2["date_dementelement"] = pd.to_datetime(d2["date_dementelement"])

d2['année'] = d2['date'].dt.year
d2['mois'] = d2['date'].dt.month
d2 = d2[['projet_id', 'projet', 'date_debut', 'date', 'date_fin', 'date_dementelement','année', 'mois', 'p50_adj', 'p90_adj']]


#To remove p50 p90 based on date_debut
#Condition:date column is less (in total seconds) than first date for each projet_id's first cod value
cond=((d2['date'] - d2.groupby('projet_id')['date_debut'].transform('first')).dt.total_seconds())<0
d2['p50_adj'] = np.where(cond,'', d2['p50_adj'])
d2['p90_adj'] = np.where(cond,'', d2['p90_adj'])
#To remove p50 p90 based on date_fin
cond_2=((d2['date'] - d2.groupby('projet_id')['date_fin'].transform('first')).dt.total_seconds())>0
d2['p50_adj'] = np.where(cond_2, '', d2['p50_adj'])
d2['p90_adj'] = np.where(cond_2, '', d2['p90_adj'])

#To reset index
d2.reset_index(inplace=True, drop=True)
d2 = d2.assign(ID=[1 + i for i in xrange(len(d2))])[['ID'] + d2.columns.tolist()]
d2 = d2[['ID', 'projet_id', 'projet', 'année', 'mois', 'p50_adj', 'p90_adj']]
#To export results as a data frame
d2.to_excel(marketpath + 'hedge_CR.xlsx', index=False)

In [23]:
print(df_CR.loc[df_CR['projet_id'] == 'GO02'])
df_temp = d2.loc[d2['projet_id'] == 'GO02']
df_temp.head(20)

   projet_id type_hedge date_debut   date_fin date_dementelement  \
15      GO02       CR17 2022-06-01 2042-05-31                NaT

    pct_couverture                                 projet      p50      p90  \
15             1.0  Repowering Evits et Josaphats (EEJ-R)  42100.0  36800.0

         date  p50_adj  p90_adj
15 2028-12-01  -5052.0  -4416.0

,ID,projet_id,projet,année,mois,p50_adj,p90_adj
15,16,GO02,Repowering Evits et Josaphats (EEJ-R),2022,1,,
36,37,GO02,Repowering Evits et Josaphats (EEJ-R),2022,2,,
57,58,GO02,Repowering Evits et Josaphats (EEJ-R),2022,3,,
78,79,GO02,Repowering Evits et Josaphats (EEJ-R),2022,4,,
99,100,GO02,Repowering Evits et Josaphats (EEJ-R),2022,5,,
120,121,GO02,Repowering Evits et Josaphats (EEJ-R),2022,6,-2273.4,-1987.2
141,142,GO02,Repowering Evits et Josaphats (EEJ-R),2022,7,-2441.8,-2134.4
162,163,GO02,Repowering Evits et Josaphats (EEJ-R),2022,8,-2231.2999999999997,-1950.3999999999999
183,184,GO02,Repowering Evits et Josaphats (EEJ-R),2022,9,-2652.3,-2318.4
204,205,GO02,Repowering Evits et Josaphats (EEJ-R),2022,10,-3620.6,-3164.7999999999997
225,226,GO02,Repowering Evits et Josaphats (EEJ-R),2022,11,-4210.0,-3680.0
246,247,GO02,Repowering Evits et Josaphats (EEJ-R),2022,12,-5052.0,-4416.0
267,268,GO02,Repowering Evits et Josaphats (EEJ-R),2023,1,-4883.6,-4268.8
288,289,GO02,Repowering Evits et Josaphats (EEJ-R),2023,2,-4378.4,-3827.2
309,310,GO02,Repowering Evits et Josaphats (EEJ-R),2023,3,-4294.2,-3753.6
330,331,GO02,Repowering Evits et Josaphats (EEJ-R),2023,4,-3199.6,-2796.7999999999997
351,352,GO02,Repowering Evits et Josaphats (EEJ-R),2023,5,-2862.8,-2502.4
372,373,GO02,Repowering Evits et Josaphats (EEJ-R),2023,6,-2273.4,-1987.2
393,394,GO02,Repowering Evits et Josaphats (EEJ-R),2023,7,-2441.8,-2134.4
414,415,GO02,Repowering Evits et Josaphats (EEJ-R),2023,8,-2231.2999999999997,-1950.3999999999999

In [ ]:
# <!-- ## HEDGE TO MODIFY

# We have to adjust p50 and p90 of 4 parcs:

# * GO02:Repowering Evits et Josaphats (EEJ-R)
# * GO03:Repowering Remise de Reclainville (RCL-R)
# * GO01:Bois des Fontaines (BDF)
# * KEI3:Repowering Bougainville (BGV-R) -->

In [55]:
# #To calculate the modified P50 and p90 from 2023 to 2028 
# from datetime import datetime
# start_date = pd.to_datetime(["01-01-2023"]*4)
# d = pd.DataFrame()
# for i in range(0, 72):
#     df_buffer = df4.copy() 
#     df_buffer["date"] = start_date
#     l_p50 = []
#     l_p90 = []
#     for elm in df_buffer.projet_id:
#         try: 
#             l_p50.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
#         except:
#             l_p50.append("NA")
#         try:
#             l_p90.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
#         except:
#             l_p90.append("NA")
#     df_buffer["p50_md"] = l_p50
#     df_buffer["p90_md"] = l_p90
#     d = pd.concat([d,df_buffer],axis=0)
#     start_date = start_date + pd.DateOffset(months=1)

# d['année'] = d['date'].dt.year
# d['mois'] = d['date'].dt.month
# d.rename(columns = {'projet':'projet_md'}, inplace = True)
# d = d[['projet_id', 'projet_md', 'date', 'année', 'mois', 'p50_md', 'p90_md']]

# #To export modified p50, p90 as excel file
# d.to_excel(marketpath + 'hedge_CR_modified.xlsx', index=False)

# df5 = pd.read_excel(marketpath + 'hedge_CR_modified.xlsx')
# df6 = pd.read_excel(marketpath + 'hedge_CR_to_modify.xlsx')

# df = pd.merge(df6, df5, how="left", on=['projet_id', 'année', 'mois'])

# #To modify old p50 p90 with modified p50 p90
# df.loc[(df['projet'] == df['projet_md']) & (df['année'] == df['date'].dt.year) & (df['mois'] == df['date'].dt.month), 'p50_adj'] = df['p50_md']
# df.loc[(df['projet'] == df['projet_md']) & (df['année'] == df['date'].dt.year) & (df['mois'] == df['date'].dt.month), 'p90_adj'] = df['p90_md']

# #To select columns
# df = df[['ID', 'projet_id', 'projet', 'année', 'mois', 'p50_adj', 'p90_adj']]
# #To export as excel file
# df.to_excel(marketpath + "hedge_CR.xlsx", index=False)

In [56]:
print(df_CR.loc[df_CR['projet_id'] == 'GO02'])
df_temp = df.loc[df['projet_id'] == 'GO02']
df_temp.head(20)

   projet_id type_hedge        cod date_merchant date_dementelement  \
15      GO02       CR17 2022-06-01    2042-05-31                NaT

    pct_couverture                                 projet          p50  \
15             1.0  Repowering Evits et Josaphats (EEJ-R)  17821.31748

        p90       date      p50_adj   p90_adj
15  15529.6 2028-12-01 -2138.558098 -1863.552

,ID,projet_id,projet,année,mois,p50_adj,p90_adj
15,16,GO02,Repowering Evits et Josaphats (EEJ-R),2022,1,NaN,NaN
36,37,GO02,Repowering Evits et Josaphats (EEJ-R),2022,2,NaN,NaN
57,58,GO02,Repowering Evits et Josaphats (EEJ-R),2022,3,NaN,NaN
78,79,GO02,Repowering Evits et Josaphats (EEJ-R),2022,4,NaN,NaN
99,100,GO02,Repowering Evits et Josaphats (EEJ-R),2022,5,NaN,NaN
120,121,GO02,Repowering Evits et Josaphats (EEJ-R),2022,6,-962.351144,-838.5984
141,142,GO02,Repowering Evits et Josaphats (EEJ-R),2022,7,-1033.636414,-900.7168
162,163,GO02,Repowering Evits et Josaphats (EEJ-R),2022,8,-944.529826,-823.0688
183,184,GO02,Repowering Evits et Josaphats (EEJ-R),2022,9,-1122.743001,-978.3648
204,205,GO02,Repowering Evits et Josaphats (EEJ-R),2022,10,-1532.633303,-1335.5456
225,226,GO02,Repowering Evits et Josaphats (EEJ-R),2022,11,-1782.131748,-1552.9600
246,247,GO02,Repowering Evits et Josaphats (EEJ-R),2022,12,-2138.558098,-1863.5520
267,268,GO02,Repowering Evits et Josaphats (EEJ-R),2023,1,-4883.600000,-4268.8000
288,289,GO02,Repowering Evits et Josaphats (EEJ-R),2023,2,-4378.400000,-3827.2000
309,310,GO02,Repowering Evits et Josaphats (EEJ-R),2023,3,-4294.200000,-3753.6000
330,331,GO02,Repowering Evits et Josaphats (EEJ-R),2023,4,-3199.600000,-2796.8000
351,352,GO02,Repowering Evits et Josaphats (EEJ-R),2023,5,-2862.800000,-2502.4000
372,373,GO02,Repowering Evits et Josaphats (EEJ-R),2023,6,-2273.400000,-1987.2000
393,394,GO02,Repowering Evits et Josaphats (EEJ-R),2023,7,-2441.800000,-2134.4000
414,415,GO02,Repowering Evits et Josaphats (EEJ-R),2023,8,-2231.300000,-1950.4000

## HEDGE PPA

In [24]:
#To extract cod date from hedge date with hedge type = OA 
df_PPA = df_hedge_vmr[["projet_id", "type_hedge", "date_debut", "date_fin", "date_dementelement", "pct_couverture"]]
df_PPA = df_PPA.loc[df_PPA["type_hedge"] == "PPA"]
#To merge cod data and prod data
df_PPA = df_PPA.merge(prod, on='projet_id')
#Hedge perct
df_PPA["p50"] = df_PPA["p50"] * df_PPA["pct_couverture"]
df_PPA["p90"] = df_PPA["p90"] * df_PPA["pct_couverture"]

#To determine the number of asset under OA
n_PPA = len(df_PPA.loc[df_PPA["type_hedge"] == "PPA"])

#rename prod label with projet_id
prod_perc = prod_perc.rename(columns=prod.set_index('projet')['projet_id'])

#To define a dict containing prod percentage  
d_prod_perc = prod_perc.to_dict()

start_date = pd.to_datetime(["01-01-2022"] * n_PPA)
d3 = pd.DataFrame()
for i in range(0,84):
    df_buffer = df_PPA 
    df_buffer["date"] = start_date
    l_p50 = []
    l_p90 = []
    for elm in df_buffer.projet_id:
        try: 
            l_p50.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
        except:
            l_p50.append("NA")
        try:
            l_p90.append(-d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
        except:
            l_p90.append("NA")
    df_buffer["p50_adj"] = l_p50
    df_buffer["p90_adj"] = l_p90
    d3 = pd.concat([d3, df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)
    
#To convert date
d3["date_debut"] = pd.to_datetime(d3["date_debut"])
d3["date"] = pd.to_datetime(d3["date"])
d3["date_fin"] = pd.to_datetime(d3["date_fin"])
d3["date_dementelement"] = pd.to_datetime(d3["date_dementelement"])

d3['année'] = d3['date'].dt.year
d3['mois'] = d3['date'].dt.month
d3 = d3[['projet_id', 'projet', 'date_debut', 'date_fin', 'date', "date_dementelement", 'année', 'mois', 'p50_adj', 'p90_adj']]


#To remove p50 p90 based on date_cod
#Condition:date column is less (in total seconds) than first date for each projet_id's first cod value
cond=((d3['date'] - d3.groupby('projet_id')['date_debut'].transform('first')).dt.total_seconds())<0
d3['p50_adj'] = np.where(cond,'', d3['p50_adj'])
d3['p90_adj'] = np.where(cond,'', d3['p90_adj'])
#To remove p50 p90 based on date_dementelement
cond_2=((d3['date'] - d3.groupby('projet_id')['date_fin'].transform('first')).dt.total_seconds())>0
d3['p50_adj'] = np.where(cond_2, '', d3['p50_adj'])
d3['p90_adj'] = np.where(cond_2, '', d3['p90_adj'])

#To reset index
d3.reset_index(inplace=True, drop=True)

d3 = d3.assign(ID=[1 + i for i in xrange(len(d3))])[['ID'] + d3.columns.tolist()]
d3 = d3[['ID', 'projet_id', 'projet', 'année', 'mois', 'p50_adj', 'p90_adj']]
#To export results as a data frame
d3.to_excel(marketpath + 'hedge_PPA.xlsx', index=False)

In [26]:
print(df_PPA.loc[df_PPA['projet_id'] == 'ALBE'])
df_temp = d3.loc[d3['projet_id'] == 'ALBE']
df_temp.head()

  projet_id type_hedge date_debut   date_fin date_dementelement  \
0      ALBE        PPA 2021-01-01 2025-12-31         2028-06-30

   pct_couverture          projet          p50          p90       date  \
0             1.0  Ally Bessadous  18896.83154  17230.29482 2028-12-01

       p50_adj      p90_adj
0 -2263.273514 -2063.672411

,ID,projet_id,projet,année,mois,p50_adj,p90_adj
0,1,ALBE,Ally Bessadous,2022,1,-2210.5513535492,-2015.5998880436
7,8,ALBE,Ally Bessadous,2022,2,-1916.8945914176,-1747.8411065408
14,15,ALBE,Ally Bessadous,2022,3,-1926.9099121338,-1756.9731627954
21,22,ALBE,Ally Bessadous,2022,4,-1715.832303832,-1564.510769656
28,29,ALBE,Ally Bessadous,2022,5,-1388.1612449283998,-1265.7374574772

In [27]:
df_1=pd.read_excel(marketpath + 'hedge_OA.xlsx')
df_2=pd.read_excel(marketpath + 'hedge_CR.xlsx')
df_3=pd.read_excel(marketpath + 'hedge_PPA.xlsx')

print(df_1.shape)
print(df_2.shape)
print(df_3.shape)

(5712, 7)
(1764, 7)
(588, 7)

In [32]:
frames = [df_1, df_2, df_3]
hedge_vmr =pd.concat(frames)
hedge_vmr.reset_index(drop=True, inplace=True)
hedge_vmr.to_excel(marketpath + "hedge_vmr.xlsx", index=False)

In [34]:
hedge_vmr.head()

   ID projet_id        projet  année  mois      p50_adj      p90_adj
0   1      ART1      Artois 1   2022     1 -3958.754751 -3709.945819
1   2      ART2      Artois 2   2022     1 -2838.878249 -2660.453894
2   3      AVI1   Avignonet I   2022     1          NaN          NaN
3   4      AVI2  Avignonet II   2022     1 -1050.354000  -971.082000
4   5      BASS      Bassigny   2022     1 -2306.849894 -2150.073687