In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt
xrange = range
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import os

#pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_columns', 200)

print("The working directory was: {0}".format(os.getcwd()))
os.chdir("C:/hjBoralex/etl/gitcwd")
print("The current working directory is: {0}".format(os.getcwd()))

The working directory was: C:\hjBoralex\etl\gitcwd
The current working directory is: C:\hjBoralex\etl\gitcwd

In [22]:
cwdpath = "C:/Users/hermann.ngayap/Desktop/data/market/markets/in/"

## P50_P90_ASSET VMR

In [23]:
prod = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod")
prod_perc = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod_perc")
mean_perc = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="mean_perc")

In [24]:
#To extract cod date from asset template 
df1 = pd.read_excel(cwdpath + "template_asset_vmr_planif.xlsx", 
                    usecols= ["asset_id", "projet_id", "cod", 
                              "date_dementelement",
                              "date_merchant",
                              "en_planif"])

df1 = df1.loc[df1["en_planif"] == "Non"]
nbr = len(df1.loc[df1["en_planif"] == "Non"]) 


#prod data 
df2 = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod")
#prod_perc data
prod_perc = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod_perc")

#To change prod df header from projet to projet_id
prod_perc = prod_perc.rename(columns=prod.set_index('projet')['projet_id'])


#To merge cod data and prod data
df3 = df1.merge(df2, on='projet_id')
df3.reset_index(drop=True, inplace=True)

#To define a dict containing prod percentage  
d_prod_perc = prod_perc.to_dict()

start_date = pd.to_datetime(["01-01-2022"] * nbr)
d = pd.DataFrame()
for i in range(0, 84):
    df_buffer = df3
    df_buffer["date"] = start_date
    l_p50 = []
    l_p90 = []
    for elm in df_buffer.projet_id:
        try: 
            l_p50.append(d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
        except:
            l_p50.append("NA")
        try:
            l_p90.append(d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
        except:
            l_p90.append("NA")
    df_buffer["p50_adj"] = l_p50
    df_buffer["p90_adj"] = l_p90
    d = pd.concat([d,df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)
    
#To create new columns
d["cod"] = pd.to_datetime(d["cod"])
d["date"] = pd.to_datetime(d["date"])
d["date_dementelement"] = pd.to_datetime(d["date_dementelement"])
d["date_merchant"] = pd.to_datetime(d["date_merchant"])

d['année'] = d['date'].dt.year
d['trim'] = d['date'].dt.to_period('Q').dt.strftime("Q%q-%y")
d['mois'] = d['date'].dt.month
d = d[['asset_id', 'projet_id', 'projet', 'cod', 'date', 'date_dementelement', 'date_merchant', 'année', 'trim','mois', 'p50_adj', 'p90_adj']]

#To remove p50 p90 based on date_cod
#Condition:date column is less (in total seconds) than first date for each projet_id's first date_cod value
cond=((d['date'] - d.groupby('projet_id')['cod'].transform('first')).dt.total_seconds())<0
d['p50_adj'] = np.where(cond,'', d['p50_adj'])
d['p90_adj'] = np.where(cond,'', d['p90_adj'])
#To remove p50 p90 based on date_dementelement
cond_2=((d['date'] - d.groupby('projet_id')['date_dementelement'].transform('first')).dt.total_seconds())>0
d['p50_adj'] = np.where(cond_2, '', d['p50_adj'])
d['p90_adj'] = np.where(cond_2, '', d['p90_adj'])

#To reset index
d.reset_index(inplace=True, drop=True)
d = d.assign(rw_id=[1 + i for i in xrange(len(d))])[['rw_id'] + d.columns.tolist()]
d = d[['rw_id', 'asset_id', 'projet_id', 'projet', 'année', 'trim', 'mois', 'p50_adj', 'p90_adj']]

#To export results as a data frame
d.to_excel(cwdpath + 'p50_p90_asset_vmr.xlsx', index=False, float_format="%.5f")

In [27]:
d.tail()

,rw_id,asset_id,projet_id,projet,année,trim,mois,p50_adj,p90_adj
8059,8060,92,VAA2,Vallée d'Arce 2 (NY),2028,Q4-28,12,,
8060,8061,93,VAA3,Vallée d'Arce 3 (NU),2028,Q4-28,12,,
8061,8062,94,VDMO,Voie des monts,2028,Q4-28,12,3142.37244056,2867.1677760000002
8062,8063,95,VRON,Vron,2028,Q4-28,12,2317.2990959999997,2147.444712
8063,8064,96,ZOND,Zondrange,2028,Q4-28,12,2521.6077676216,2310.5752294088

In [28]:
print(d.shape)
print(df1.loc[df1['projet_id'] == 'VAA2'])
d_temp = d.loc[d['projet_id'] == 'VAA2']
d_temp.head(10)

(8064, 9)
    asset_id projet_id        cod date_merchant date_dementelement en_planif
91        92      VAA2 2009-10-09    2024-10-08         2027-06-30       Non

,rw_id,asset_id,projet_id,projet,année,trim,mois,p50_adj,p90_adj
91,92,92,VAA2,Vallée d'Arce 2 (NY),2022,Q1-22,1,1744.4109343664002,1611.8935288487
187,188,92,VAA2,Vallée d'Arce 2 (NY),2022,Q1-22,2,1435.8148324384001,1326.7405010122
283,284,92,VAA2,Vallée d'Arce 2 (NY),2022,Q1-22,3,1419.1022644480001,1311.297534184
379,380,92,VAA2,Vallée d'Arce 2 (NY),2022,Q2-22,4,1178.0894418496,1088.5936967668
475,476,92,VAA2,Vallée d'Arce 2 (NY),2022,Q2-22,5,1001.4346661616,925.3588281002999
571,572,92,VAA2,Vallée d'Arce 2 (NY),2022,Q2-22,6,777.8674189216001,718.7752806178
667,668,92,VAA2,Vallée d'Arce 2 (NY),2022,Q3-22,7,755.4373934608001,698.0491935589
763,764,92,VAA2,Vallée d'Arce 2 (NY),2022,Q3-22,8,714.5355823264,660.2545642161999
859,860,92,VAA2,Vallée d'Arce 2 (NY),2022,Q3-22,9,987.6541276432,912.6251536981
955,956,92,VAA2,Vallée d'Arce 2 (NY),2022,Q4-22,10,1407.8139509808002,1300.8667583439

In [ ]:
#### PROD DATA TO MODIFY

# We have to adjust p50 and p90 of 4 parcs:

# * GO02:Repowering Evits et Josaphats (EEJ-R)
# * GO03:Repowering Remise de Reclainville (RCL-R)
# * GO01:Bois des Fontaines (BDF)
# * KEI3:Repowering Bougainville (BGV-R) -->

In [52]:
# #To import excel containing parcs with prod to modify
# df4 = pd.read_excel(marketpath + "template_prod_to_modify.xlsx")

# #To calculate the modified P50 and p90 from 2023 to 2028 
# from datetime import datetime
# start_date = pd.to_datetime(["01-01-2023"]*4)
# d = pd.DataFrame()
# for i in range(0, 72):
#     df_buffer = df4.copy() 
#     df_buffer["date"] = start_date
#     l_p50 = []
#     l_p90 = []
#     for elm in df_buffer.projet_id:
#         try: 
#             l_p50.append(d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p50"].values[0]))
#         except:
#             l_p50.append("NA")
#         try:
#             l_p90.append(d_prod_perc[elm][start_date.month[0]-1]*float(df_buffer[df_buffer.projet_id==elm]["p90"].values[0]))
#         except:
#             l_p90.append("NA")
#     df_buffer["p50_md"] = l_p50
#     df_buffer["p90_md"] = l_p90
#     d = pd.concat([d,df_buffer],axis=0)
#     start_date = start_date + pd.DateOffset(months=1)

# d['année'] = d['date'].dt.year
# d['mois'] = d['date'].dt.month
# d.rename(columns = {'projet':'projet_md'}, inplace = True)
# d = d[['projet_id', 'projet_md', 'date', 'année', 'mois', 'p50_md', 'p90_md']]

# #To export modified p50, p90 as excel file
# d.to_excel(marketpath + 'prod_modified.xlsx', index=False)

# df5 = pd.read_excel(marketpath + 'prod_modified.xlsx')
# df6 = pd.read_excel(marketpath + 'p50_p90_asset.xlsx')

# df = pd.merge(df6, df5, how="left", on=['projet_id', 'année', 'mois'])

# #To modify old p50 p90 with modified p50 p90
# df.loc[(df['projet'] == df['projet_md']) & (df['année'] == df['date'].dt.year) & (df['mois'] == df['date'].dt.month), 'p50_adj'] = df['p50_md']
# df.loc[(df['projet'] == df['projet_md']) & (df['année'] == df['date'].dt.year) & (df['mois'] == df['date'].dt.month), 'p90_adj'] = df['p90_md']

# #To select columns
# df = df[['ID', 'projet_id', 'projet', 'année', 'mois', 'p50_adj', 'p90_adj']]
# #To export as excel file
# df.to_excel(marketpath + "p50_p90_modified.xlsx", index=False)