In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import datetime as dt
xrange = range
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import os

#pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_columns', 200)

print("The working directory was: {0}".format(os.getcwd()))
os.chdir("C:/hjBoralex/etl/gitcwd")
print("The current working directory is: {0}".format(os.getcwd()))

The working directory was: C:\hjBoralex\etl\gitcwd\etls_assets_hedges
The current working directory is: C:\hjBoralex\etl\gitcwd

In [2]:
cwdpath = "C:/Users/hermann.ngayap/Desktop/data/market/markets/in/"

In [3]:
prod = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod")
prod_perc = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="prod_perc")
mean_perc = pd.read_excel(cwdpath + "template_prod_id.xlsx", sheet_name="mean_perc")

# df_asset = pd.read_excel(cwdpath + "asset_table.xlsx")
# df_asset = df_asset.loc[df_asset["en_planif"] == "Non"]

# df_planif = pd.read_excel(cwdpath + "asset_table.xlsx")
# df_planif = df_planif.loc[df_planif["en_planif"] == "Oui"]

df_hedge = pd.read_excel(cwdpath + "template_hedge.xlsx")
df_hedge_vmr = df_hedge.loc[df_hedge["en_planif"] == "Non"]

df_hedge_planif = df_hedge.loc[df_hedge["en_planif"] == "Oui"]
df1 = pd.read_excel(cwdpath + "template_hedge.xlsx")

# HEDGE PLANIF

In [4]:
#
df1.loc[(df1['technologie'] == 'éolien') & (df1['en_planif'] == 'Oui'), 'p50'] = df1["puissance_installée"] * 8760 * 0.25#calculer le p_50 projet éolien en planification
df1.loc[(df1['technologie'] == 'éolien') & (df1['en_planif'] == 'Oui'), 'p90'] = df1["puissance_installée"] * 8760 * 0.20#calculer le p_90 projet éolien en planification

df1.loc[(df1['technologie'] == 'solaire') & (df1['en_planif'] == 'Oui'), 'p50'] = df1["puissance_installée"] * 8760 * 0.15#calculer le p_50 projet solaire en planification
df1.loc[(df1['technologie'] == 'solaire') & (df1['en_planif'] == 'Oui'), 'p90'] = df1["puissance_installée"] * 8760 * 0.13#calculer le p_90 projet solaire en planification


df1["p50"] = df1["p50"] * df1["pct_couverture"]
df1["p90"] = df1["p90"] * df1["pct_couverture"]

prod_planif = df1.copy()
prod_planif_solaire = prod_planif.loc[(prod_planif['technologie'] == "solaire") & (prod_planif['en_planif'] == 'Oui')]
prod_planif_eolien = prod_planif.loc[(prod_planif['technologie'] == "éolien") & (prod_planif['en_planif'] == 'Oui')]

prod_planif_solaire.reset_index(drop = True, inplace=True)
prod_planif_eolien.reset_index(drop = True, inplace=True)

#To determine the number of solar and eolien
n_sol = len(prod_planif_solaire)
n_eol = len(prod_planif_eolien)

prod_planif_solaire.to_excel(cwdpath + "prod_planif_solaire_hedge.xlsx", index = False, float_format="%.5f")
prod_planif_eolien.to_excel(cwdpath + "prod_planif_eolien_hedge.xlsx", index = False, float_format="%.5f")

mean_perc_sol = mean_perc.iloc[:,[0, 1]]
mean_perc_eol = mean_perc.iloc[:,[0,-1]]

#create a dataframe with date from 2022 to 2028 solaire
start_date = pd.to_datetime(["01-01-2022"] * n_sol)
d1 = pd.DataFrame()
for i in range(0,84):
    df_buffer = prod_planif_solaire.copy() 
    df_buffer["date"] = start_date
    d1 = pd.concat([d1, df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)
    
#reset index    
d1.reset_index(drop=True, inplace=True)

#create a mth column containing number of month
mean_perc_sol = mean_perc_sol.assign(mth=[1 + i for i in xrange(len(mean_perc_sol))])[['mth'] + mean_perc_sol.columns.tolist()]

#To calculate p50 and p90 solar
s = mean_perc_sol.set_index('mth')['m_pct_solaire']
pct = pd.to_datetime(d1['date']).dt.month.map(s)
d1['p50_adj'] = -d1['p50'] * pct
d1['p90_adj'] = -d1['p90'] * pct

#create a dataframe with date from 2022 to 2028 éolien
start_date = pd.to_datetime(["01-01-2022"] * n_eol)
d2 = pd.DataFrame()
for i in range(0,84):
    df_buffer = prod_planif_eolien.copy() 
    df_buffer["date"] = start_date
    d2 = pd.concat([d2, df_buffer],axis=0)
    start_date = start_date + pd.DateOffset(months=1)

#reset index    
d2.reset_index(drop=True, inplace=True)

#create a mth column containing number of month
mean_perc_eol = mean_perc_eol.assign(mth=[1 + i for i in xrange(len(mean_perc_eol))])[['mth'] + mean_perc_eol.columns.tolist()]

#To calculate p50 and p90 eolien
s2 = mean_perc_eol.set_index('mth')['m_pct_eolien']
pct = pd.to_datetime(d2['date']).dt.month.map(s2)
d2['p50_adj'] = -d2['p50'] * pct
d2['p90_adj'] = -d2['p90'] * pct

In [5]:
d2.tail()

,rw_id,hedge_id,projet_id,projet,technologie,type_hedge,date_debut,date_fin,date_dementelement,puissance_installée,profil,pct_couverture,contrepartie,pays_contrepartie,en_planif,p50,p90,date,p50_adj,p90_adj
7723,286,286,GO19,Repowering Ronchois,éolien,CR,2027-02-01,2047-02-01,NaT,38.880,NaN,1.0,NaN,NaN,Oui,85147.20,68117.760,2028-12-01,-9828.541296,-7862.833037
7724,289,289,SO14,Bruyeres - Glenic,éolien,CR,2026-11-01,2046-11-01,NaT,12.000,NaN,1.0,NaN,NaN,Oui,26280.00,21024.000,2028-12-01,-3033.500400,-2426.800320
7725,290,290,GO10,Repowering Grand-Camp,éolien,CR,2025-03-01,2045-03-01,NaT,9.600,NaN,1.0,NaN,NaN,Oui,21024.00,16819.200,2028-12-01,-2426.800320,-1941.440256
7726,292,292,NGE9,Repowering St-Patrick Valhuon,éolien,CR,2027-04-01,2047-04-01,NaT,22.464,NaN,1.0,NaN,NaN,Oui,49196.16,39356.928,2028-12-01,-5678.712749,-4542.970199
7727,293,293,NGE19,XLCB 2,éolien,CR,2027-08-01,2047-08-01,NaT,7.128,NaN,1.0,NaN,NaN,Oui,15610.32,12488.256,2028-12-01,-1801.899238,-1441.519390

In [18]:
# d1.head()
# d1.loc[(d1["projet_id"] == "SE19") & (d1["hedge_id"] == 294)]

In [6]:
#To create new columns année et mois
d1["date_debut"] = pd.to_datetime(d1["date_debut"])
d1["date_fin"] = pd.to_datetime(d1["date_fin"])
d1["date_dementelement"] = pd.to_datetime(d1["date_dementelement"])
d1['année'] = d1['date'].dt.year
d1['trim'] = d1['date'].dt.to_period('Q').dt.strftime("Q%q-%y")
d1['mois'] = d1['date'].dt.month
d1 = d1[['hedge_id','projet_id', 'projet', 'date_debut', "date_fin", 'date_dementelement', 'date', 'année', 'trim', 'mois', 'p50_adj', 'p90_adj']]

#To remove p50 p90 based on date_debut
#Condition:date column is less (in total seconds) than first date for each projet_id's first date_debut value
cond=((d1['date'] - d1.groupby(['projet_id', 'hedge_id'])['date_debut'].transform('first')).dt.total_seconds())<0
d1['p50_adj'] = np.where(cond,'', d1['p50_adj'])
d1['p90_adj'] = np.where(cond,'', d1['p90_adj'])
#To remove p50 p90 based on date_fin
cond_2=((d1['date'] - d1.groupby(['projet_id', 'hedge_id'])['date_fin'].transform('first')).dt.total_seconds())>0
d1['p50_adj'] = np.where(cond_2, '', d1['p50_adj'])
d1['p90_adj'] = np.where(cond_2, '', d1['p90_adj'])

#To reset index
d1.reset_index(inplace=True, drop=False)
d1 = d1.assign(rw_id=[1 + i for i in xrange(len(d1))])[['rw_id'] + d1.columns.tolist()]
d1 = d1[['rw_id', 'hedge_id', 'projet_id', 'projet', 'année', 'trim', 'mois', 'p50_adj', 'p90_adj']]

################################################################################
################################################################################
###############################################################################

#To create new columns année et mois
d2["date_debut"] = pd.to_datetime(d2["date_debut"])
d2["date_fin"] = pd.to_datetime(d2["date_fin"])
d2['année'] = d2['date'].dt.year
d2['trim'] = d2['date'].dt.to_period('Q').dt.strftime("Q%q-%y")
d2['mois'] = d2['date'].dt.month
d2 = d2[['hedge_id','projet_id', 'projet', 'date_debut', 'date_fin', 'date_dementelement', 'date', 'année', 'trim', 'mois', 'p50_adj', 'p90_adj']]

#To remove p50 p90 based on date_debut
#Condition:date column is less (in total seconds) than first date for each projet_id's first date_cod value
cond=((d2['date'] - d2.groupby(['projet_id', 'hedge_id'])['date_debut'].transform('first')).dt.total_seconds())<0
d2['p50_adj'] = np.where(cond,'', d2['p50_adj'])
d2['p90_adj'] = np.where(cond,'', d2['p90_adj'])
#To remove p50 p90 based on date_dementelemnt
cond_2=((d2['date'] - d2.groupby(['projet_id', 'hedge_id'])['date_fin'].transform('first')).dt.total_seconds())>0
d2['p50_adj'] = np.where(cond_2, '', d2['p50_adj'])
d2['p90_adj'] = np.where(cond_2, '', d2['p90_adj'])

#To reset index
d2.reset_index(inplace=True, drop=False)
d2 = d2.assign(rw_id=[1 + i for i in xrange(len(d2))])[['rw_id'] + d2.columns.tolist()]
d2 = d2[['rw_id','hedge_id', 'projet_id', 'projet', 'année', 'trim', 'mois', 'p50_adj', 'p90_adj']]

#To export as excel files
d1.to_excel(cwdpath + 'p50_p90_hedge_planif_solaire.xlsx', index=False, float_format="%.5f")
d2.to_excel(cwdpath + 'p50_p90_hedge_planif_eolien.xlsx', index=False, float_format="%.5f")

In [7]:
print(df1.loc[(df1['projet_id'] == 'SE19') & (df1['hedge_id'] == 294)])
df_temp = d1.loc[(d1['projet_id'] == 'SE19') & (d1['hedge_id'] == 294)]
df_temp.head(40)

     rw_id  hedge_id projet_id             projet technologie type_hedge  \
293    294       294      SE19  Pézènes-les-Mines     solaire        PPA

    date_debut   date_fin date_dementelement  puissance_installée profil  \
293 2024-01-01 2043-12-31                NaT                 16.0    NaN

     pct_couverture contrepartie pays_contrepartie en_planif      p50      p90
293             1.0        Metro            France       Oui  21024.0  18220.8

,rw_id,hedge_id,projet_id,projet,année,trim,mois,p50_adj,p90_adj
105,106,294,SE19,Pézènes-les-Mines,2022,Q1-22,1,,
211,212,294,SE19,Pézènes-les-Mines,2022,Q1-22,2,,
317,318,294,SE19,Pézènes-les-Mines,2022,Q1-22,3,,
423,424,294,SE19,Pézènes-les-Mines,2022,Q2-22,4,,
529,530,294,SE19,Pézènes-les-Mines,2022,Q2-22,5,,
635,636,294,SE19,Pézènes-les-Mines,2022,Q2-22,6,,
741,742,294,SE19,Pézènes-les-Mines,2022,Q3-22,7,,
847,848,294,SE19,Pézènes-les-Mines,2022,Q3-22,8,,
953,954,294,SE19,Pézènes-les-Mines,2022,Q3-22,9,,
1059,1060,294,SE19,Pézènes-les-Mines,2022,Q4-22,10,,
1165,1166,294,SE19,Pézènes-les-Mines,2022,Q4-22,11,,
1271,1272,294,SE19,Pézènes-les-Mines,2022,Q4-22,12,,
1377,1378,294,SE19,Pézènes-les-Mines,2023,Q1-23,1,,
1483,1484,294,SE19,Pézènes-les-Mines,2023,Q1-23,2,,
1589,1590,294,SE19,Pézènes-les-Mines,2023,Q1-23,3,,
1695,1696,294,SE19,Pézènes-les-Mines,2023,Q2-23,4,,
1801,1802,294,SE19,Pézènes-les-Mines,2023,Q2-23,5,,
1907,1908,294,SE19,Pézènes-les-Mines,2023,Q2-23,6,,
2013,2014,294,SE19,Pézènes-les-Mines,2023,Q3-23,7,,
2119,2120,294,SE19,Pézènes-les-Mines,2023,Q3-23,8,,
2225,2226,294,SE19,Pézènes-les-Mines,2023,Q3-23,9,,
2331,2332,294,SE19,Pézènes-les-Mines,2023,Q4-23,10,,
2437,2438,294,SE19,Pézènes-les-Mines,2023,Q4-23,11,,
2543,2544,294,SE19,Pézènes-les-Mines,2023,Q4-23,12,,
2649,2650,294,SE19,Pézènes-les-Mines,2024,Q1-24,1,-888.47424,-770.011008
2755,2756,294,SE19,Pézènes-les-Mines,2024,Q1-24,2,-1176.92352,-1020.0003839999999
2861,2862,294,SE19,Pézènes-les-Mines,2024,Q1-24,3,-1880.5968,-1629.8505599999999
2967,2968,294,SE19,Pézènes-les-Mines,2024,Q2-24,4,-2040.3791999999999,-1768.32864
3073,3074,294,SE19,Pézènes-les-Mines,2024,Q2-24,5,-2321.2598399999997,-2011.7585279999998
3179,3180,294,SE19,Pézènes-les-Mines,2024,Q2-24,6,-2496.17952,-2163.355584
3285,3286,294,SE19,Pézènes-les-Mines,2024,Q3-24,7,-2680.9804799999997,-2323.516416
3391,3392,294,SE19,Pézènes-les-Mines,2024,Q3-24,8,-2448.45504,-2121.9943679999997
3497,3498,294,SE19,Pézènes-les-Mines,2024,Q3-24,9,-1921.5936,-1665.3811199999998
3603,3604,294,SE19,Pézènes-les-Mines,2024,Q4-24,10,-1443.9283200000002,-1251.404544
3709,3710,294,SE19,Pézènes-les-Mines,2024,Q4-24,11,-917.90784,-795.5201279999999
3815,3816,294,SE19,Pézènes-les-Mines,2024,Q4-24,12,-807.3215999999999,-699.6787199999999
3921,3922,294,SE19,Pézènes-les-Mines,2025,Q1-25,1,-888.47424,-770.011008
4027,4028,294,SE19,Pézènes-les-Mines,2025,Q1-25,2,-1176.92352,-1020.0003839999999
4133,4134,294,SE19,Pézènes-les-Mines,2025,Q1-25,3,-1880.5968,-1629.8505599999999
4239,4240,294,SE19,Pézènes-les-Mines,2025,Q2-25,4,-2040.3791999999999,-1768.32864

#### TO MERGE p50_p90_hedge_vmr & p50_p90_hedge_planif_solaire & p50_p90_hedge_planif_eolien

In [8]:
#To import p50_p90 from 
df_1=pd.read_excel(cwdpath + "p50_p90_hedge_vmr.xlsx")
df_2=pd.read_excel(cwdpath + 'p50_p90_hedge_planif_solaire.xlsx')
df_3=pd.read_excel(cwdpath + 'p50_p90_hedge_planif_eolien.xlsx')

In [9]:
print(df_1.shape)
print(df_2.shape)
print(df_3.shape)

(8064, 9)
(8904, 9)
(7728, 9)

In [10]:
frames = [df_1, df_2, df_3]
hedge_vmr_planif =pd.concat(frames, axis= 0, ignore_index=True)
hedge_vmr_planif.reset_index(drop=True, inplace=True)

hedge_vmr_planif.drop("rw_id", axis=1, inplace=True)
hedge_vmr_planif = hedge_vmr_planif.assign(rw_id=[1 + i for i in xrange(len(hedge_vmr_planif))])[['rw_id'] + hedge_vmr_planif.columns.tolist()]
hedge_vmr_planif.to_excel(cwdpath + "p50_p90_hedge_vmr_planif.xlsx", index=False, float_format="%.5f")

In [11]:
hedge_vmr_planif.head(20)

,rw_id,hedge_id,projet_id,projet,année,trim,mois,p50_adj,p90_adj
0,1,5,ART1,Artois 1,2022,Q1-22,1,-3958.75475,-3709.94582
1,2,6,ART2,Artois 2,2022,Q1-22,1,-2838.87825,-2660.45389
2,3,7,AVI1,Avignonet I,2022,Q1-22,1,NaN,NaN
3,4,8,AVI2,Avignonet II,2022,Q1-22,1,-1050.35400,-971.08200
4,5,11,BASS,Bassigny,2022,Q1-22,1,-2306.84989,-2150.07369
5,6,15,BSLL,Boralex Solaire Lauragais SAS,2022,Q1-22,1,-251.01783,-242.29635
6,7,16,BSLC,Boralex Solaire Les Cigalettes SAS (Montfort),2022,Q1-22,1,-833.41807,-793.57073
7,8,17,CALM,Calmont (Laur Eole Energie ),2022,Q1-22,1,-3383.31415,-3100.52968
8,9,18,CHL2,Cham Longe II,2022,Q1-22,1,-1380.73597,-1290.19590
9,10,20,CHAR,Charmoy,2022,Q1-22,1,-2750.85248,-2561.95274
10,11,21,CHMA,Chasse Marée,2022,Q1-22,1,-2549.76400,-2341.62000
11,12,22,CHDG,Chemin de Grès,2022,Q1-22,1,-8874.87025,-8153.70284
12,13,24,COCO,Coat Conval,2022,Q1-22,1,-1245.27000,-1164.93000
13,14,25,CDAR,Comes de l'Arce,2022,Q1-22,1,-2888.24528,-2671.34149
14,15,26,COBL,Coteaux du Blaiseron,2022,Q1-22,1,-3101.15319,-2778.36067
15,16,27,COCL,Coulonges (CL),2022,Q1-22,1,-3306.11761,-3042.83670
16,17,28,COCP,Coulonges (CP),2022,Q1-22,1,-3044.00439,-2801.59673
17,18,29,CONT,Coulonges (NT),2022,Q1-22,1,-3115.49792,-2867.39691
18,19,32,FIER,Fierville,2022,Q1-22,1,-2155.61111,-1992.68702
19,20,33,FOPL,Fond de la Plaine,2022,Q1-22,1,-934.38935,-851.33252